<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Cadastro de Clientes</title>
<!-- CSS -->

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

</head>

<body>
	<header>

		<nav class="navbar navbar-dark bg-dark">
			<span class="navbar-brand mb-0 h1" style="font-weight: bold;">Desafio-4-devs</span>
			<a href="#" class="btn btn-success btn-lg" role="button">Login</a>
		</nav>

	</header>

	<section>
		<div class="container"
			style="width: 60%; padding-bottom: 30px; padding-top: 30px">

			<div align="center">

				<h2>AVALIAÇÕES</h2>
			</div>

			<th:block th:include="mensagemValidacao"></th:block>
			<form action="salvaravaliacoes" method="post">
				<div class="form-group">
					<input type="date" class="form-control" name="mesAno">
				</div>
			</form>
			<form>
				<div class="form-group">
					<input type="text" class="form-control" name="clientesAvaliacao"
						placeholder="Clientes *">
				</div>
			</form>
			<form>
				<div class="form-group">
					<input type="text" class="form-control" name="avaliacao"
						placeholder="Nota *">
				</div>
			</form>
			<form>
				<div class="form-group">
					<input id="summernote" type="text" class="form-control"
						name="motAvaliacao" placeholder="Motivo de Avaliação *">
				</div>
			</form>
			<div class="container"
				style="width: 60%; padding-bottom: 30px; padding-top: 30px"
				align="center">

				<button type="button" class="btn btn-success">Gravar</button>
				<button type="button" class="btn btn-danger">Cancelar</button>

			</div>

		</div>
	</section>

	<script>
		$('#summernote').summernote({
			placeholder : 'Texto *',
			tabsize : 2,
			height : 300
		});
	</script>


</body>


</html>