<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

<title>Cadastro VALIDATION (PRIVADO)</title>
<!-- CSS -->

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">DESAFIO-4-DEVS</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" href="/cadastroclientes">Cadastro de Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cadastroavaliacoes">Cadastro de Avaliações</a>
      </li>
    </ul>
  </div>
</nav>
	</header>

	<section>
		<div class="container"
			style="width: 30%; padding-bottom: 30px; padding-top: 30px">

			<div align="center" style="padding-bottom: 30px">
				<h2>Cadastro do Código {VALIDATION - ACESSO RESTRITO}</h2>
			</div>

			<th:block th:include="mensagemValidacao"></th:block>
			<form action="salvarvalidation" method="post">
				<div class="form-group">
					<input type="text" class="form-control" name="codValidation"
						placeholder="Código de Validação *">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="situacao"
						maxlength="1" placeholder="A (Ativo) ou I (Inativo)*">
				</div>

				<small class="form-text text-muted">(*) Campos obrigatórios</small>

				<div class="container"
					style="width: 60%; padding-bottom: 30px; padding-top: 30px"
					align="center">

					<button type="button" class="btn btn-success"
						value="salvarvalidation">Gravar</button>
					<button type="button" class="btn btn-danger">Cancelar</button>

				</div>
			</form>

			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">ID.</th>
						<th scope="col">Cod. Validation</th>
						<th scope="col">Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="ltvalidation : ${cadastrovalidation}">
						<td th:text="${ltvalidation.idValidation}"></td>
						<td th:text="${ltvalidation.codValidation}"></td>
						<td th:text="${ltvalidation.situacao}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

</body>


</html>