<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

<title>Cadastro de Clientes</title>
<!-- CSS -->

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo03"
				aria-controls="navbarTogglerDemo03" aria-expanded="false"
				aria-label="Alterna navegação">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">DESAFIO-4-DEVS</a>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">

					<li class="nav-item"><a class="nav-link"
						href="/cadastroclientes">Cadastro de Clientes</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastroavaliacoes">Cadastro de Avaliações</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<section>
		<div class="container"
			style="width: 75%; padding-bottom: 30px; padding-top: 30px">

			<div align="center">

				<h2>Cadastro de clientes</h2>
			</div>
			<th:block th:include="mensagemValidacao"></th:block>
			<div class="form-group">
				<input type="text" class="form-control" name="id"
					readonly="readonly">
			</div>
			<form action="salvarcliente" method="post">
				<div class="form-group">
					<input type="text" class="form-control" name="nome"
						placeholder="Nome *">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="nomeResponsavel"
						placeholder="Nome Responsável *">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="CNPJ"
						placeholder="CNPJ">
				</div>

				<small class="form-text text-muted">(*) Campos obrigatórios</small>

				<div class="container"
					style="width: 75%; padding-bottom: 30px; padding-top: 30px"
					align="center">
					<button type="submit" class="btn btn-success" value="salvarcliente">Gravar</button>
					<button type="submit" class="btn btn-danger">Cancelar</button>
				</div>
			</form>

			<div style="width: 60%; padding-bottom: 5px; padding-top: 30px";>
				<form action="pesquisarcliente" method="post">
					<label>Pesquisa por nome:</label> <input name="nomepesquisa">
					<input type="submit" value="Buscar">
				</form>
			</div>

			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Cod.</th>
						<th scope="col">Nome</th>
						<th scope="col">Responsavel</th>
						<th scope="col">CNPJ</th>
						<th scope="col">Dt. Cadastro</th>
						<th scope="col">-</th>
						<th scope="col">*</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cliente : ${cadastroclientes}">
						<td th:text="${cliente.id}"></td>
						<td th:text="${cliente.nome}"></td>
						<td th:text="${cliente.nomeResponsavel}"></td>
						<td th:text="${cliente.cnpj}"></td>
						<td th:text="${cliente.dtCadastro}"></td>
						<td><a href="#">Editar</a></td>
						<td><a href="#">Excluir</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

</body>


</html>