<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

<title>Cadastro de Clientes</title>
<!-- CSS -->

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo03"
				aria-controls="navbarTogglerDemo03" aria-expanded="false"
				aria-label="Alterna navegação">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">DESAFIO-4-DEVS</a>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">

					<li class="nav-item"><a class="nav-link"
						href="/cadastroclientes">Cadastro de Clientes</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastroavaliacoes">Cadastro de Avaliações</a></li>
				</ul>
			</div>
		</nav>
	</header>
	
	
	<H1>DESAFIO-4-DEVS</H1>

</body>


</html>